<div class="page page-table">
  <div class="row ui-section">
    <div class="col-md-12">
      <h2 class="section-header">Relatórios das campanhas</h2>
    </div>
  </div>


  <ui-view>
  </ui-view>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <thead>
          <tr>
            <th>Campanha</th>
            <th>Data do disparo</th>
            <th class="text-center">Estatisticas do email</th>
          </tr>
          </thead>
          <tbody ng-repeat="item in ctrl.relationships">
          <tr class="item in">
            <td colspan="3" class="rule-campaing">
              <strong>{{item.name}}</strong>
            </td>
          </tr>
          <tr ng-repeat="campaign in item.campaigns" class="item in">
            <td>{{campaign.name}}</td>
            <td>{{item.dateCreate}}</td>
            <td class="statistics-campaign">
              <div class="col-xs-12 col-sm-6 no-padding">
                <p><strong>{{campaign.statisticsEmail.sent}}</strong>
                  <small>enviados</small>
                </p>
              </div>
              <div class="col-xs-12 col-sm-6 no-padding">
                <p><strong>{{campaign.statisticsEmail.converted}}</strong>
                  <small>convertidos</small>
                </p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
