<div class="nav-wrapper" ng-controller="LayoutCtrl">
  <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
    <li class="nav-title"><span class="ng-scope">Atendimento</span></li>
    <li permission permission-only="permissions.read">
      <a md-button aria-label="meanu" ui-sref="customers.list"><i class="fa fa-user"></i><span
      data-translate="CUSTOMERS"></span></a>
      <ul>
        <li><a md-button aria-label="meanu" ui-sref="customers.list"><i
          class="fa fa-circle"></i><span>Listagem</span></a></li>
          <li permission permission-only="permissions.importCustomers"><a md-button aria-label="meanu"
            ui-sref="customers.import"><i
            class="fa fa-circle"></i><span>Importar novos</span></a>
          </li>
          <li><a md-button aria-label="meanu" ui-sref="customers.create"><i
            class="fa fa-circle"></i><span>Novo cliente</span></a></li>
          </ul>
        </li>
        <li permission permission-only="permissions.read">
          <a md-button aria-label="meanu" ui-sref="vehicles.list"><i class="fa fa-car"></i><span
          data-translate="VEHICLES"></span></a>
        </li>
        <li permission permission-only="permissions.read">
          <a md-button aria-label="meanu" ui-sref="schedules"><i class="fa fa-calendar"></i><span
          data-translate="SCHEDULES"></span></a>
          <ul>
            <li ng-if="(authentication.scheduleModule === 'schedulerequest')">
              <a md-button aria-label="meanu" ui-sref="schedulerequests">
                <i class="fa fa-circle"></i>
                <span>Solicitações</span>
              </a>
            </li>
            <li>
              <a md-button aria-label="meanu" ui-sref="schedules">
                <i class="fa fa-circle"></i>
                <span>Agendados</span>
              </a>
            </li>
            <li>
              <a md-button aria-label="meanu" ui-sref="schedulecreate">
                <i class="fa fa-circle"></i>
                <span>Novo agendamento</span>
              </a>
            </li>
          </ul>
        </li>
      </li>
      <li permission permission-only="permissions.read" ng-if="chatActive">
        <a md-button aria-label="meanu" ui-sref="chat"><i class="fa fa-comments"></i><span
        data-translate="CHAT"></span>
      </a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-title"><span class="ng-scope">Marketing e comunicação</span></li>
    <li permission permission-only="permissions.requestAnalysis" ng-class="">
      <a md-button aria-label="meanu" ui-sref="campaigns"><i class="fa fa-line-chart"></i><span
      data-translate="CAMPAIGN"></span><span class="badge badge-info"
      ng-if="ctrl.badges.campaignAnalysis || ctrl.badges.campaignResult"><i
    class="fa fa-check" aria-hidden="true"></i></span></a>
    <ul>
      <li><a md-button aria-label="meanu" ui-sref="campaigns.create"><i class="fa fa-circle"></i><span
      data-translate="NEW_CAMPAIGN"></span></a></li>
      <li><a md-button aria-label="meanu" ui-sref="campaigns.report" ng-click="toggleBadge('campaignResult', false)"
        ng-class="{'text-blue': ctrl.badges.campaignResult}"><i class="fa fa-circle"></i><span
        data-translate="REPORT"></span></a></li>
      </ul>
    </li>
    <li permission permission-only="permissions.readSurvey" ng-class="">
      <a md-button aria-label="meanu" ui-sref="survey">
        <i class="zmdi zmdi-chart"></i>
        <span data-translate="FEEDBACK_USERS"></span>
      </a>
      <ul>
        <li><a md-button aria-label="meanu" ui-sref="survey.list"><i class="fa fa-circle"></i><span
        data-translate="FEEDBACK_COMMENTS"></span></a></li>
      </ul>
    </li>
    <li permission permission-only="permissions.metabase">
      <a md-button aria-label="meanu" ui-sref="metabase.operations"><i class="fa fa-circle"></i><span
        data-translate="METABASE_SCHEDULES"></span></a>
    </li>
    <!--<li permission permission-only="permissions.viewRules" ng-class="">-->
    <!--<a md-button aria-label="meanu" ui-sref="rules"><i class="fa fa-heart"></i>Relacionamento</span></a>-->
    <!--<ul>-->
    <!--<li><a md-button aria-label="meanu" ui-sref="rules"><i class="fa fa-circle"></i>Relatórios</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <li class="nav-divider"></li>
    <li class="nav-title"><span class="ng-scope">Infraestrutura</span></li>
    <li permission permission-only="permissions.createEmployee">
      <a md-button aria-label="meanu" ui-sref="employees.list"><i class="fa fa-users"></i><span
      data-translate="EMPLOYEES"></span></a>
    </li>
    <li permission permission-only="[permissions.createPartner]">
      <a md-button aria-label="meanu" href="#/settings">
        <i class="fa fa-cogs"></i>
        <span data-translate="SETTINGS"></span>
      </a>
      <ul class="overflow-hidden">
        <!--<li class="nav-title"><span class="ng-scope">Análise</span></li>-->
        <!--<li><a md-button aria-label="meanu" href="#/settings/customers-upload"><i class="fa fa-circle"></i><span data-translate="IMPORT"></span></a></li>-->
        <!--<li permission permission-only="permissions.uploadServices"><a md-button aria-label="meanu" href="#/settings/services-upload"><i class="fa fa-circle"></i><span data-translate="SERVICES"></span></a></li>-->
        <li permission permission-only="permissions.createPartner">
          <a md-button aria-label="meanu" ui-sref="settings.partnerList">
            <i class="fa fa-circle"></i>
            <span data-translate="PARTNER"></span>
          </a>
        </li>
        <li permission permission-only="permissions.createPartner">
          <a md-button aria-label="meanu" ui-sref="settings.branchEdit">
            <i class="fa fa-circle"></i>
            <span data-translate="BRANCHES"></span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-title"><span class="ng-scope">Suporte</span></li>
    <li class="dropdown p-r-20" permission permission-only="[permissions.reportBug]">
      <a ng-click="reportBug()">
        <i class="fa fa-bug font-22"></i>
        <span data-translate="Reportar problema"></span>
      </a>
    </li>
    <li permission permission-only="[permissions.bugs]">
      <a md-button aria-label="meanu" href="#/bugs">
        <i class="fa fa-cogs"></i>
        <span data-translate="BUGS"></span>
      </a>
      <ul class="overflow-hidden">
        <li permission permission-only="permissions.bugs">
          <a md-button aria-label="meanu" ui-sref="bugs.tickets">
            <i class="fa fa-circle"></i>
            <span data-translate="Tickets"></span>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</div>
