<div class="page page-table">

  <div class="row ui-section">
    <div class="col-md-6 clearfix">
      <h2 class="section-header">Solicitação de Agendamento</h2>
    </div>

    <div class="col-md-6">
      <div ng-show="srequest.status != 'confirmed' && srequest.status != 'canceled'">
        <button ng-disabled="ctrl.disableScheduleButton == true"
                class="btn-w-md md-button md-ink-ripple pull-right btn-success"
                tooltip-placement="bottom" uib-tooltip="Agendar esta solicitação" tooltip-append-to-body="true"
                ng-click="schedule({id: srequest._id})">
          <span>Agendar</span>
        </button>
        <button ng-click="notSaveSchedule()" class="btn-w-md md-button md-ink-ripple pull-right half-opacity m-r-20">
          Não consegui agendar
        </button>
      </div>

      <div ng-show="srequest.status == 'confirmed' || srequest.status == 'canceled'">
        <button type="button" ng-click="backToList()" class="btn-w-md md-button md-ink-ripple half-opacity pull-right">
          Voltar
        </button>
      </div>
    </div>
  </div>

  <div class="ui-section form-schedule">
    <div class="panel panel-default panel-labeled">
      <div class="panel-body p-t-20">
        <div class="col-md-12">
          <div class="box-result">
            <h5>Cliente:</h5>
            <ul>
              <li>
                <span class="fa fa-user"></span> {{srequest.customer.fullname || "Não preenchido"}}<br>
                <span class="fa fa-phone"></span> {{srequest.customer.phone || "Não preenchido"}}<br>
                <span class="fa fa-envelope"></span> {{srequest.customer.email || "Não preenchido"}}<br>
                <span class="fa fa-home"></span>
                {{srequest.customer.address || ""}} {{srequest.customer.city || ""}} {{srequest.customer.state ? " - " +
                srequest.customer.state : ""}}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <div class="box-result">
            <h5>Veículo:</h5>
            <ul>
              <li>
                <span class="fa fa-car"></span> {{srequest.vehicle.brand || ""}} {{srequest.vehicle.name || ""}}
                {{srequest.vehicle.specification ? " - " + srequest.vehicle.specification : ""}} -
                {{srequest.vehicle.year || "Não preenchido"}}/{{srequest.vehicle.model || "Não preenchido"}}<br>
                <span class="fa fa-barcode"></span> {{srequest.vehicle.plate || "Não preenchido"}} <br>
                <span class="fa fa-tachometer"></span> {{srequest.vehicle.km + ' km'}}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <div class="box-result">
            <h5>Serviço:</h5>
            <ul>
              <li>
                <div ng-show="srequest.inspection">
                  Revisão de {{srequest.inspection.km + ' km'}}
                </div>

                <div ng-repeat="item in srequest.services">
                  <div ng-if="$last">
                    {{item}}
                  </div>
                  <div ng-if="!$last">
                    {{item + ", "}}
                  </div>
                </div>

                <div ng-show="srequest.otherService">
                  Outros serviços: {{srequest.otherService}}
                </div>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-12" ng-show="srequest.observation">
          <div class="box-result">
            <h5>Observações:</h5>
            <ul>
              <li>
                {{srequest.observation}}
              </li>
            </ul>
          </div>
        </div>


        <div class="col-md-12">
          <div class="box-result">
            <h5>Data e horario:</h5>
            <ul>
              <li>
                {{srequest.callMeAt.date | date:'dd/MM/yyyy'}} às {{srequest.callMeAt.time || "Não preenchido"}}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <div class="box-result">
            <h5>Status:</h5>
            <ul>
              <li>
                {{srequest.statusName}}
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12" ng-show="srequest.status == 'confirmed'">
          <div class="box-result">
            <h5>Agendamento:</h5>
            <ul>
              <li>
                <a ui-sref="scheduleview({id: srequest.generatedSchedule})">Ir para agendamento</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xs-12 m-b-20">
    <button type="button" ng-click="backToList()" class="btn-w-md md-button md-ink-ripple half-opacity pull-left">Voltar
    </button>
  </div>
</div>
