<div class="page page-table">
  <form name="form_constraints" novalidate>
    <div class="row ui-section">
      <div class="col-xs-12 col-sm-10">
        <h2 class="section-header">Nova Campanha</h2>
      </div>
      <div class="col-xs-12 col-sm-2">
        <button data-ng-click="submitForm()" class="md-raised btn-w-lg btn-primary md-button md-ink-ripple"
                data-ng-disabled="!canSubmit() || ((ctrl.smsEnabled && characterLimit - Campaign.sms.content.length) < 0)"
                disabled="disabled">Criar
        </button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body p-30">
        <div class="box-itens-campaign">
          <ul class="ul-box-campaign">

            <li class="each-itens">
              <div class="form-group m-t-10">
                <label>Nome da campanha</label>
                <input type="text" class="form-control input-lg" placeholder="Ex.: Últimos agendamentos"
                       value="Nova Campanha" name="name"
                       ng-model="Campaign.name" required>
              </div>
            </li>


            <li class="each-itens">
              <div class="form-group m-t-10 col-md-5">

                <div class="input-group">
                  <label class="md-raised btn btn-primary md-button btn-md md-ink-ripple" for="fileUpload"
                         ng-disabled="importCustomerFromDBSelected">Importar planilha de clientes</label>
                  <input id="fileUpload" style="display: none;" type="file" ngf-select ngf-pattern="'.xls,.csv,.xlsx'"
                         accept=".xls,.csv,.xlsx" ngf-max-files="1" ng-model="file"
                         ng-disabled="importCustomerFromDBSelected && listClients.length > 0"
                         ngf-multiple="false" class="form-control">
                </div>
                <div class="p-t-10">
                  <a class="text-blue padding-5"
                     href="https://s3-sa-east-1.amazonaws.com/automobi-public/crm/Modelo+de+CSV+para+importar+Clientes.xlsx"
                     download="https://s3-sa-east-1.amazonaws.com/automobi-public/crm/Modelo+de+CSV+para+importar+Clientes.xlsx">
                    <span class="fa fa-download"></span> Baixar modelo da planilha de clientes
                  </a>
                </div>
              </div>

              <div class="form-group col-md-2">
                <h3 class="line-on-side"><span>OU</span></h3>
              </div>

              <div class="form-group m-t-10 col-md-5">
                <div class="input-group" style="float: right;">
                  <button class="md-raised btn btn-primary md-button btn-md md-ink-ripple"
                          ng-click="importCustomerFromDB()"
                          ng-disabled="importSheetCustomerSelected && listClients.length > 0">Buscar clientes da
                    plataforma
                  </button>
                </div>
              </div>
            </li>

            <li class="each-itens">
              <div ng-if="listClients.length > 0">
                <div id="listResult">
                  <div ng-if="listClients.length > 0" class="box-result-import">
                    <span>{{listClients.length}}</span>
                    <small>clientes importados</small>
                  </div>
                  <div ng-if="listClientsErr.length > 0" class="box-result-import error">
                    <span>{{listClientsErr.length}}</span>
                    <small>itens da lista foram rejeitados</small>
                  </div>
                </div>
              </div>
            </li>

            <li class="each-itens">
              <div ng-show="listClients.length">
                <div class="col-xs-12 col-sm-12 m-t-20">
                  <span style="opacity: 0.8; line-height: 3;" class="m-l-20">
                      <span>
                        <span class="fa fa-arrow-down"></span>
                        Clique nos ícones abaixo para ativar ou remover canais
                      </span>
                    </span>
                  <ul class="icons-choice">
                    <li ng-class="{active: ctrl.emailEnabled}" ng-click="toggleEmailBtn('emailEnabled')" role="button"
                        tabindex="0">
                      <span class="fa fa-envelope"></span>
                    </li>
                    <li ng-class="{active: ctrl.smsEnabled}" ng-click="toggleSmsBtn('smsEnabled')" role="button"
                        tabindex="0">
                      <span class="fa fa-commenting"></span>
                    </li>
                    <li ng-class="{active: ctrl.notificationEnabled}"
                        ng-click="toggleNotificationBtn('notificationEnabled')"
                        role="button"
                        tabindex="0">
                      <span class="fa fa-bell"></span>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-12">

                  <div ng-if="ctrl.emailEnabled" style="overflow: hidden;">
                    <div class="col-xs-12 m-t-20">
                      <h1 class="title-channel email">Email</h1>
                    </div>
                    <div id="emailEnabled" class="col-xs-12 col-sm-6">
                      <div class="col-xs-12 form-group">
                        <label>Tags disponíveis:</label>
                        <span class="label label-default" ng-repeat="tag in listTagsAvailable" ng-if="tag != '##_id##'">{{tag}}</span>
                      </div>
                      <div class="col-xs-12 form-group">
                        <label>Assunto do email:</label>
                        <input type="text" class="form-control" name="subject" ng-model="form.email.subject"
                               required>
                      </div>

                      <div class="col-xs-12 form-group">
                        <label>Texto de saudação:</label>
                        <input type="text" class="form-control" name="greeting" ng-model="form.email.greeting"
                               required>
                      </div>

                      <div class="col-xs-12 form-group">
                        <label>Título do email:</label>
                        <input type="text" class="form-control" name="title" ng-model="form.email.title"
                               required>
                      </div>

                      <div class="col-xs-12 form-group">
                        <label>Importar imagem:</label>
                        <div class="input-group" ng-show="!upload.isUploading">
                          <label class="btn btn-primary md-button" for="imageUpload">Escolher imagem</label>
                          <input id="imageUpload" style="display: none;" type="file" ngf-select
                                 ngf-pattern="'.png,.jpg,.jpeg'"
                                 accept=".png,.jpg,.jpeg" ngf-max-files="1" ng-click="imageUpload()"
                                 ng-model="upload.image"
                                 ngf-multiple="false" ngf-resize="{width: 501, height: 231}" class="form-control">

                          <div class="divider"></div>
                          <div class="alert alert-info">
                            <p>Atenção! Dimensão de imagem adequada: 500 x 230</p>
                          </div>
                        </div>

                        <div ng-show="upload.filename">
                          <div class="divider"></div>
                          <div class="alert alert-info">
                            <p>{{upload.filename}} - {{upload.progress < 99 ? 'Enviando...' : 'Enviado!'}}</p>
                            <div class="divider"></div>
                            <md-progress-linear md-mode="determinate"
                                                value="{{upload.progress}}"></md-progress-linear>
                          </div>
                        </div>

                        <div ng-show="upload.error">
                          <div class="divider"></div>
                          <div class="alert alert-error">{{upload.error}}</div>
                        </div>
                      </div>

                      <div class="col-xs-12 form-group">
                        <label>Texto do email:</label>
                        <text-angular
                          ta-toolbar="[['h1','h2','h3','h4','h5','p','bold','italics','quote','underline', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'insertLink']]"
                          ng-model="form.email.content"
                          required></text-angular>
                      </div>

                      <div class="col-xs-12 form-group">
                        <label>Texto do botão:</label>
                        <input type="text" class="form-control" name="textButton" ng-model="form.email.textButton"
                               required>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 box-view-email">
                      <div class="head-email-view">
                        <div class="pull-left">
                          <span class="fa fa-user"></span>
                        </div>
                        <div class="pull-left">
                          <h5>{{Campaign.clients[0] && Campaign.clients[0]._emailValues ?
                            Campaign.clients[0]._emailValues.subject : ""}}</h5>
                          {{displayPartner.partnerName}}
                          <small>emaildoparceiro@automobi.com.br</small>
                        </div>
                      </div>
                      <div style="margin:0;min-width:100%;padding:0;width:100%">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0"
                               style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;width:100%;max-width: 550px;table-layout:fixed;"
                               align="center" bgcolor="#ffffff">
                          <tbody>
                          <tr>
                            <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                     style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;width:100%"
                                     bgcolor="#ffffff">
                                <tbody>
                                <tr>
                                  <td align="center">
                                    <br>
                                    <img src="{{partnerLogo}}" style="max-width: 300px;">
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <img src="https://s3-sa-east-1.amazonaws.com/gestaodeoficina-public/shadow.png"
                                         alt="sombra" style="display:block;width: 100%;max-width: 550px;">
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                     style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;width:100%"
                                     bgcolor="#ffffff">
                                <tbody>
                                <tr>
                                  <td align="center">
                                    <p style="font-family: sans-serif;font-size:13px;color:#656565;line-height:20px;">
                                      {{Campaign.clients[0] && Campaign.clients[0]._emailValues ?
                                      Campaign.clients[0]._emailValues.greeting : ""}}</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <h1
                                      style="font-family: sans-serif;font-weight:900;font-size:16px;line-height:20px;color:#656565;max-width:310px;letter-spacing:3px;">
                                      {{Campaign.clients[0] && Campaign.clients[0]._emailValues ?
                                      Campaign.clients[0]._emailValues.title : ""}}</h1>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <br>
                                    <img ng-src="{{Campaign.clients[0]
                                      && Campaign.clients[0]._emailValues ?
                                      Campaign.clients[0]._emailValues.image: 'https://s3-sa-east-1.amazonaws.com/automobi-public/crm/img-email.png'}}"
                                         alt="Tenha 3 anos de garantia faça suas revisões na Lince Toyota"
                                         style="display: block;width: 100%;">
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                     style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;width:100%"
                                     bgcolor="#ffffff">
                                <tbody>
                                <tr>
                                  <td style="text-align:center;">
                                    <br>
                                    <p ta-bind ng-model="Campaign.clients[0]._emailValues.content"
                                       style="font-family: sans-serif;font-size:16px;color:#656565;line-height:30px;margin-bottom:20px;"></p>
                                    <br>
                                    <a href="#" target="_blank"
                                       style="display: block;max-width: 335px;margin:0 auto;padding: 20px;font-size:16px;font-weight: 900;color:#ffffff;background-color:#00B828;text-align:center;font-family:sans-serif;text-decoration:none;">{{Campaign.clients[0]
                                      && Campaign.clients[0]._emailValues ?
                                      Campaign.clients[0]._emailValues.textButton: ""}}</a>
                                    <br>
                                    <br>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center">
                                    <p
                                      style="font-family: sans-serif;font-size:16px;color:#656565;padding:0 30px;line-height:30px;margin-bottom:20px;">
                                      Fique à vontade para responder esse e-mail com reclamações ou sugestões.</p>
                                    <p
                                      style="font-family: sans-serif;font-size:16px;color:#656565;line-height:30px;margin-bottom:20px;">
                                      Nós vamos te ajudar a cuidar do seu carro. :)</p>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                     style="background-color:#ffffff;border:none;border-collapse:collapse;border-spacing:0;width:100%;table-layout:fixed;"
                                     bgcolor="#ffffff">
                                <tr>
                                  <td align="center" style="border-top:1px solid #E5E5E5;">
                                    <br>
                                    <p
                                      style="font-family: sans-serif;font-size:11px;color:#656565;line-height:16px;margin-bottom:20px;">
                                      Se você está tendo problemas para clicar no botão?<br><a href="#"
                                                                                               target="_blank"
                                                                                               style="display:block;width:100%;word-wrap:break-word;">Aqui
                                      vai o link do botão</a></p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div ng-if="ctrl.smsEnabled" style="overflow: hidden;">
                    <div class="col-xs-12 m-t-20">
                      <h1 class="title-channel sms">SMS</h1>
                    </div>
                    <div id="smsEnabled">
                      <div class="col-xs-12 col-sm-6 form-group">
                        <label>Texto do SMS</label>
                        <span class="clount-sms"
                              ng-class="{ 'text-danger': (characterLimit - Campaign.sms.content.length) <= 10 }">
                          {{ characterLimit - Campaign.sms.content.length }}
                        </span>
                        <textarea ng-class="{ 'text-danger': (characterLimit - Campaign.sms.content.length) <= 10 }"
                                  class="form-control" name="content" ng-model="Campaign.sms.content" rows="8"
                                  required></textarea>
                      </div>
                      <div class="col-xs-12 col-sm-6 box-view-email">
                        <div class="mock-sms">
                          <span style="bottom: 112px">Oi Cliente. {{Campaign.sms.content}}</span>
                          <span><p style="color:#009688;">linkexemplo.com</p></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div ng-if="ctrl.notificationEnabled" style="overflow: hidden;">
                    <div class="col-xs-12 m-t-20">
                      <h1 class="title-channel notification">Notificação</h1>
                    </div>
                    <div id="notificationEnabled">
                      <div class="col-xs-12 col-sm-6 form-group">

                        <div class="col-xs-12 form-group">
                          <label>Título da notificação:</label>
                          <span class="clount-sms"
                                ng-class="{ 'text-danger': (titleNotificationLimit - Campaign.notification.title.length) <= 10 }">
                          {{ titleNotificationLimit - Campaign.notification.title.length }}
                        </span>
                          <input
                            ng-class="{ 'text-danger': (titleNotificationLimit - Campaign.notification.title.length) <= 10 }"
                            type="text" class="form-control" name="title" ng-model="Campaign.notification.title"
                            required>
                        </div>

                        <div class="col-xs-12 form-group">
                          <label>Texto da notificação:</label>
                          <span class="clount-sms"
                                ng-class="{ 'text-danger': (messageNotificationLimit - Campaign.notification.content.length) <= 10 }">
                          {{ messageNotificationLimit - Campaign.notification.content.length }}
                        </span>

                          <textarea
                            ng-class="{ 'text-danger': (messageNotificationLimit - Campaign.notification.content.length) <= 10 }"
                            class="form-control" name="content" ng-model="Campaign.notification.content" rows="8"
                            required></textarea>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 box-view-email">
                        <div class="mock-sms">
                          <span>
                          <p class="title-notification">{{Campaign.notification.title || "Seu título"}}</p>
                          <p class="content-notification">{{Campaign.notification.content || "Sua mensagem aqui"}}</p>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="m-t-40 m-b-40 text-center">
      <button data-ng-click="submitForm()" ng-disabled="disableSaveButton"
              class="md-raised btn-w-lg btn-primary md-button md-ink-ripple"
              data-ng-disabled="!canSubmit() || ((ctrl.smsEnabled && characterLimit - Campaign.sms.content.length) < 0)"
              disabled="disabled">Criar
      </button>
    </div>
  </form>
</div>
