<div class="page page-table">
  <div class="row ui-section">
    <div class="col-md-12">
      <h2 class="section-header">Relatório da campanha</h2>
    </div>
  </div>


  <ui-view>
  </ui-view>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="box-search-2 m-b-20">
        <span class="panel-heading text-gray">Filtros:</span>
        <span class="space"></span>
        <button ng-class="{'btn-filter-active': ctrl.currentTab == 'notConverted'}"
                class="md-raised btn-w-md md-button md-ink-ripple half-opacity btn-filter"
                tooltip-placement="bottom" uib-tooltip="Não convertido em agendamento"
                tooltip-append-to-body="true" ng-click="showNotConverted()">
          Não convertidos
        </button>
        <span class="space"></span>
        <button ng-class="{'btn-filter-active': ctrl.currentTab == 'converted'}"
                class="md-raised btn-w-md md-button md-ink-ripple half-opacity btn-filter"
                tooltip-placement="bottom" uib-tooltip="Convertidos em agendamento"
                tooltip-append-to-body="true" ng-click="showConverted()">
          Convertidos
        </button>

        <!--<button class="md-raised btn-w-xs btn-primary md-button md-ink-ripple pull-right" tooltip-placement="bottom"
                uib-tooltip="Exportar"
                tooltip-append-to-body="true">
          <span class="fa fa-download"></span>
        </button>-->
        <span class="show-spaces panel-heading panel-normal-case pull-right m-10">
          <strong>ID:</strong> <span class="id-campaign">{{ctrl.id}}</span>
          &nbsp &nbsp &nbsp <strong>Data do disparo:</strong> {{ctrl.date}}
          &nbsp &nbsp &nbsp <strong>Total:</strong> {{ctrl.showing.length}}
        </span>
      </div>

      <div class="table-responsive">
        <div ng-if="(!ctrl.converted.length && ctrl.notConverted.length) && !ctrl.showing.length" class="text-center">
          <p><i>Ainda não há clientes convertidos.</i></p>
        </div>
        <div ng-if="(!ctrl.notConverted.length && ctrl.converted.length) && !ctrl.showing.length" class="text-center">
          <p><i>Parabéns! Todos os clientes foram convertidos! :)</i></p>
        </div>
        <table class="table no-margin" ng-if="ctrl.showing.length">
          <thead>
          <tr>
            <th>Cliente</th>
            <th>Veículo</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>

          <tr class="item in" ng-repeat="item in ctrl.showing">
            <td>
              <p>
                <span class="fa fa-user"></span>
                {{item.name}}
              </p>
              <p ng-if="item.phones" ng-repeat="phone in item.phones">
                <span class="fa fa-phone"></span>
                {{phone ? phone : ' Não preenchido '}}
              </p>
              <p>
                <span class="fa fa-envelope-o"></span>
                {{item.email}}
              </p>
            </td>
            <td>{{item.carBrand}} {{item.carName}}</td>
            <td>
              <strong ng-class="{'color-success': item.didSendSms, 'color-danger': !item.didSendSms}">
                <span class="fa fa-comment-o"></span>&nbsp;
                {{item.didSendSms ? 'SMS Enviado' : 'SMS não enviado'}}
              </strong>
              <br><br>
              <strong ng-class="{
              'color-success': item.statusEmail == 'sent' || item.statusEmail == 'open' || item.statusEmail == 'converted',
              'color-danger':  item.statusEmail == 'bounce'}">
                <span class="fa fa-envelope-o"></span>&nbsp;
                {{item.statusEmail == 'sent' ? 'Email enviado' : ''}}
                {{item.statusEmail == 'bounce' ? 'Email não enviado' : ''}}
                {{item.statusEmail == 'open' ? 'Email aberto' : ''}}
                {{item.statusEmail == 'converted' ? 'Cliente convertido' : ''}}
              </strong>
              <!--<button class="md-raised btn-w-md btn-success md-button md-ink-ripple">-->
              <!--<span class="fa fa-calendar-check-o"></span>&nbsp;&nbsp;Agendado-->
              <!--</button>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
