<!--<div class="page page-table" data-ng-controller="CustomerListCtrl">-->
<div class="page">

  <div class="row ui-section">
    <div class="col-md-12">
      <h2 class="col-md-4 section-header">Confirmar solicitação</h2>
      <button ng-click="saveSchedule()" class="btn-w-md md-button md-ink-ripple pull-right btn-primary">
        Agendar
      </button>
      <button ng-click="notSaveSchedule()" class="btn-w-md md-button md-ink-ripple pull-right half-opacity m-r-20">
        Não consegui agendar
      </button>
    </div>
  </div>

  <div class="ui-section form-schedule">
    <div class="panel panel-default panel-labeled">
      <div class="panel-body p-t-20">
        <div class="col-md-12">
          <div class="box-result">
            <h5>Cliente:</h5>
            <ul>
              <li class="active">
                <p>
                  {{ctrl.srequest.customer.fullname || "Não preenchido"}} -
                  CPF: {{ctrl.srequest.customer.doc || "Não preenchido"}}</p>
                <p>
                  Telefone: {{ctrl.srequest.customer.phone || "Não preenchido"}} -
                  E-mail: {{ctrl.srequest.customer.email || "Não preenchido"}}</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <div class="box-result">
            <h5>Veículo:</h5>
            <ul>
              <li class="active">
                <p>

                  {{ctrl.srequest.vehicle.brand || "Marca não encontrada"}}
                  {{ctrl.srequest.vehicle.name || "Modelo não encontrado"}}
                  - Placa: {{ctrl.srequest.vehicle.plate || "Placa não encontrada"}}
                  - Quilometragem: {{ctrl.srequest.vehicle.km || 0}} km
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <div class="box-result">
            <h5>Serviços deste agendamento:</h5>

            <div ng-show="ctrl.selectedUser && ctrl.selectedVehicle" class="box-result">
              <ul>
                <li ng-hide="ctrl.scheduleServicesDetailed.length > 0">
                  <p>
                    <small><i>Nenhum serviço adicionado.</i></small>
                  </p>
                </li>
                <li style="margin: 0" class="row" ng-repeat="service in ctrl.scheduleServicesDetailed"
                    ng-show="ctrl.scheduleServicesDetailed.length > 0">
                  <div style="padding-left: 3px;" class="col-md-4">
                    <p> {{service.name}}</p>
                  </div>
                  <div style="padding-left: 3px;" class="col-md-4">
                    <p class="row" ng-show="service.durationTime">O tempo para realizar o serviço é de
                      {{service.durationTime || 0}} minutos.</p>
                    <p class="row" ng-show="service.inspectionKm">O Serviço é uma revisão de {{service.inspectionKm ||
                      0}} km.</p>
                    <p class="row" ng-show="service.inspectionTime">O Serviço é uma revisão de
                      {{generateYearsStringByMonth(service.inspectionTime) || 0}}.</p>
                  </div>
                  <div class="col-md-2">
                    <a ng-click="removeService($index, service)"
                       style="color: #5c6066; margin-left: 30px; font-size: 20px"
                       class="hover-color-remove">
                      <span class="fa fa-trash"></span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>

            <ul>
              <li ng-hide="ctrl.selectedUser && ctrl.selectedVehicle">
                <p>
                  <small><i>Escolha o cliente e o veículo antes.</i></small>
                </p>
              </li>
              <li ng-show="ctrl.selectedUser && ctrl.selectedVehicle">
                <form name="add_service_form" ng-submit="addService(add_service_form)" novalidate>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group">
                        <label>Adicione um serviço:</label>
                        <select chosen required
                                class="full-width"
                                name="selectedService"
                                data-placeholder="Selecione"
                                allow-single-deselect="true"
                                data-placeholder-text-single="'Clique para escolher um serviço'"
                                no-results-text="'Não foi encontrado'"
                                ng-model="ctrl.selectedService"
                                ng-change="serviceSelected()"
                                data-ng-options="item.name for item in ctrl.services">
                          <option value=""></option>
                        </select>
                      </div>
                    </div>

                    <div ng-show="ctrl.selectedService" class="col-sm-4">
                      <label>Tempo de duração <span><small>(em minutos)</small></span></label>
                      <input name="durationTime" type="text" class="form-control"
                             ng-model="ctrl.selectedService.durationTime" ui-number-mask="0">

                      <!--<div ng-messages="add_service_form.durationTime.$error" multiple-->
                      <!--ng-if="add_service_form.$submitted && add_service_form.durationTime.$error">-->
                      <!--<div ng-message="required" class="invalid-text">Campo requerido.</div>-->
                      <!--</div>-->
                    </div>
                  </div>
                  <div ng-show="ctrl.selectedService">
                    <div ng-show="ctrl.inspectionSelected" class="row">
                      <div style="margin-top: 20px" class="col-sm-12"><label>Parâmetro para revisão</label></div>
                      <div class="col-sm-2" style="margin-left: 4px; margin-top: 20px;">
                        <input type="radio"
                               class="p-l-10"
                               ng-required="ctrl.inspectionSelected && !ctrl.inspectionParameter"
                               ng-model="ctrl.inspectionParameter"
                               name="inspection_param_km"
                               ng-change="clearInspectionParameter()"
                               value="inspection_param_km">
                        <span class="p-l-10">
                          <p>Quilômetragem</p>
                        </span>
                        <div style="margin-top: 5px;" ng-messages="add_service_form.inspection_param_km.$error" multiple
                             ng-if="add_service_form.$submitted && add_service_form.inspection_param_km.$error">
                          <div ng-message="required" class="invalid-text">Campo requerido.</div>
                        </div>
                      </div>

                      <div class="col-sm-3" style="margin-top: 20px;">
                        <input type="radio"
                               ng-required="ctrl.inspectionSelected && !ctrl.inspectionParameter"
                               ng-model="ctrl.inspectionParameter"
                               name="inspection_param_time"
                               aria-invalid="true"
                               ng-change="clearInspectionParameter()"
                               value="inspection_param_time">
                        <span class="p-l-10">
                          <p>Tempo de uso <span><small>(em meses)</small></span></p>
                        </span>
                        <div style="margin-top: 5px;" ng-messages="add_service_form.inspection_param_time.$error"
                             multiple
                             ng-if="add_service_form.$submitted && add_service_form.inspection_param_time.$error">
                          <div ng-message="required" class="invalid-text">Campo requerido.</div>
                        </div>
                      </div>
                    </div>
                    <div class="row m-t-30">
                      <div ng-show="ctrl.inspectionParameter === 'inspection_param_km'" class="col-sm-4">
                        <label>Quilômetragem</label>
                        <input name="inspectionkm"
                               ng-required="ctrl.inspectionSelected
                               && ctrl.inspectionParameter == 'inspection_param_km'"
                               type="text" class="form-control"
                               ng-model="ctrl.selectedService.inspectionKm"
                               ui-number-mask="0">
                        <div ng-messages="add_service_form.inspectionkm.$error" multiple
                             ng-if="add_service_form.$submitted && add_service_form.inspectionkm.$error">
                          <div ng-message="required" class="invalid-text">Campo requerido.</div>
                        </div>
                      </div>

                      <div ng-show="ctrl.inspectionParameter === 'inspection_param_time'" class="col-sm-4">
                        <label>Tempo</label>
                        <input name="inspectionTime"
                               ng-required="ctrl.inspectionSelected
                               && ctrl.inspectionParameter == 'inspection_param_time'"
                               type="text" class="form-control"
                               ng-model="ctrl.selectedService.inspectionTime"
                               ui-number-mask="0">
                        <div ng-messages="add_service_form.inspectionTime.$error" multiple
                             ng-if="add_service_form.$submitted && add_service_form.inspectionTime.$error">
                          <div ng-message="required" class="invalid-text">Campo requerido.</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="p-t-20 col-sm-2">
                        <button type="button" class="btn-w-md md-button md-ink-ripple half-opacity pull-left"
                                tooltip-placement="bottom"
                                tooltip-append-to-body="true"
                                ng-click="cancelAddService()">
                          <span style="color: 686b78;" class="ng-scope">Cancelar</span>
                        </button>
                      </div>
                      <div class="p-t-20 col-sm-2">
                        <button type="submit"
                                class="btn-w-md md-button md-ink-ripple">
                          <span class="text-blue">+ Adicionar Serviço</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>


        <!--Observation-->
        <div class="col-md-12">
          <div ng-show="ctrl.selectedUser && ctrl.selectedVehicle" class="box-result">
            <h5>Alguma observação?</h5>
            <ul>
              <li>
                <div class="row">
                  <div class="col-xs-6 col-sm-6">
                    <textarea ng-model="ctrl.note" class="form-control" rows="4"></textarea>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12">
          <div class="box-result">
            <h5>Selecione data e horário:</h5>
            <ul>
              <li ng-show="hasServices()">
                <div class="form-group">
                  <label>Data do agendamento</label>
                  <small><i>(obrigatório)</i></small>
                  <div class="ui-datepicker">
                    <input type="text"
                           class="form-control"
                           uib-datepicker-popup="{{calendar.format}}"
                           ng-model="calendar.selectedDate"
                           is-open="calendar.calendarOpen"
                           min-date="calendar.minDate"
                           max-date="calendar.maxDate"
                           datepicker-options="calendar.dateOptions"
                           date-disabled="calendar.disabled(date, mode)"
                           ng-required="true"
                           clear-text='Limpar'
                           close-text='Fechar'
                           current-text='Hoje'
                           show-button-bar="false"
                           popup-placement="auto top-left"
                           alt-input-formats="calendar.altInputFormats"
                           ng-click="calendar.calendarOpen = true"/>
                  </div>
                </div>
              </li>
              <li ng-show="hasServices()">
                <div class="form-group">
                  <label>Selecione o horário</label>
                  <small><i>(obrigatório)</i></small>
                  <small ng-show="ctrl.selectedHour">
                    <a class="text-blue" ng-click="toggleHour()">Trocar horario.</a>
                  </small>
                </div>
                <div class="hours-list">
                  <ul class="row">
                    <li class="col-xs-12 col-sm-3 col-md-2" ng-repeat="item in ctrl.timeOptions" choose-hour
                        x-choice="ctrl.selectedHour" x-value='item'
                        ng-hide="ctrl.selectedHour && (item != ctrl.selectedHour)">
                      <a href="">{{item}}</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-12 m-t-20 text-center">
          <button ng-click="notSaveSchedule()" class="btn-w-md md-button md-ink-ripple half-opacity m-r-20 pull-left">
            Não consegui agendar
          </button>
          <button ng-click="saveSchedule()" class="btn-w-md md-button md-ink-ripple pull-right btn-primary">
            Agendar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
