<div class="row modal-body">
  <h2 class="section-header m-20">ALTERAR STATUS</h2>
  <form name="form_constraints" novalidate data-ng-submit="save()">
    <div class="ui-section">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="">Selecione um status</label>
          <select chosen data-placeholder="Selecione" style="width:100%" class="tag-select" ng-model="form.status"
                  disable-search="true"
                  data-placeholder-text-single="'Selecione'"
                  no-results-text="'não foi encontrado'"
                  data-ng-options="item.name for item in ctrl.statusList track by item.code">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
    <div ng-show="form.statusCode === 'canceled'">
      <div class="col-xs-12">
        <label>Por que?</label>
        <textarea rows="8" class="form-control m-b-10" ng-model="form.reason"></textarea>
        <br>
        <br>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <strong>Atenção!</strong> Essa ação irá encerrar esta solicitação de agendamento.
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" ng-click="cancel()" class="btn-w-md md-button md-ink-ripple half-opacity pull-left">Cancelar</button>
  <button type="button" ng-click="save()" class="md-raised btn-w-md btn-primary md-button md-ink-ripple pull-right">Salvar</button>
</div>
