<!--<div class="page page-table" data-ng-controller="PendingCtrl">-->
<div class="page page-table">

  <div class="row ui-section">
    <div class="col-md-8 clearfix">
      <h2 class="section-header">Agendamento</h2>
    </div>
    <div class="col-md-4">
      <button permission ng-if="ctrl.schedule.status == 'pending'"
              permission-only="permissions.editSchedule"
              ng-disabled="ctrl.disableScheduleButton"
              ng-click="editar()" class="btn-w-md md-button md-ink-ripple pull-right"
              tooltip-placement="bottom" uib-tooltip="Editar este agendamento" tooltip-append-to-body="true">
        <span class="text-blue">Editar Agendamento</span>
      </button>
      <button ng-if="ctrl.schedule.status != 'no-show' && ctrl.schedule.status != 'finished'" permission permission-only="permissions.changeScheduleStatus"
              ng-click="change()" ng-disabled="ctrl.disableChangeButton" class="btn-w-md md-button md-ink-ripple pull-right"
              tooltip-placement="bottom" uib-tooltip="Visualizar este agendamento" tooltip-append-to-body="true">
        <span class="text-blue">Alterar Status</span>
      </button>
    </div>
  </div>

  <div class="ui-section form-schedule">
    <div class="panel panel-default panel-labeled panel-body"
         style="padding-top: 50px;
           padding-left: 35px;
           padding-right: 35px;"
    >
      <div class="col-sm-12">
        <!--DateTime and Customer row-->
        <div class="row gray-border-bottom">

          <!--Datetime-->
          <div class="col-sm-5">
            <div class="row">
              <h2 style="text-align: start; font-size: 15px;
                font-weight: 400; margin-left: 3px;"
                  class="gray-text">Agendado para</h2>
            </div>
            <div class="row">
              <div class="col-sm-6 no-padding box-result dark-gray-text">
                <label style="font-size: 17px;">{{ctrl.schedule.date | date: "dd/MM/yyyy"}} às {{ctrl.schedule.hour}}</label>
              </div>
            </div>
          </div>

          <!--Customer-->
          <div class="col-sm-7 p-b-50 gray-border-left" style="padding-left: 5em; margin-left: -1px; padding-bottom: 3em">
            <div class="row">
              <h2 style=".text-align: start; font-size: 15px; font-weight: 400; margin-left: 3px;"
                  class="section-header gray-text">Cliente</h2>
            </div>
            <div ng-hide="ctrl.selectedCustomer">
              <div class="row">
                <div class="col-sm-6 no-padding" style="text-align: start">
                  <label>Selecione o cliente</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 no-padding partner-create" style="padding: 0;">
                  <select chosen required
                          class="full-width"
                          name="selectedService"
                          data-placeholder="Selecione"
                          allow-single-deselect="true"
                          data-placeholder-text-single="'Selecione'"
                          no-results-text="'Não foi encontrado'"
                          ng-model="ctrl.selectedCustomer"
                          ng-change="toggleVehicle()"
                          data-ng-options="item.infoString for item in ctrl.customerArray">
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
            <div ng-show="ctrl.selectedCustomer">
              <div class="row">
                <div class="col-sm-12 dark-gray-text" style="text-align: start; padding-left: 3px;">
                  <h4>{{ctrl.selectedCustomer.fullname}}</h4>
                </div>
              </div>
              <div class="row">
                <div ng-show="ctrl.selectedCustomer.phone" class="col-sm-4 partner-create" style="padding-left: 3px">
                  <span class="fa fa-phone dark-gray-text"></span>
                  <span class="gray-text" style="font-weight: normal;">
                      {{ctrl.selectedCustomer.phone}}
                    </span>
                </div>
                <div ng-show="ctrl.selectedCustomer.email" class="col-sm-6 partner-create" style="padding-left: 3px">
                  <span class="fa fa-envelope-o dark-gray-text"></span>
                  <span class="gray-text" style="font-weight: normal;">
                      {{ctrl.selectedCustomer.email}}
                    </span>
                </div>
                <div class="col-sm-2 partner-create" style="padding-left: 3px; padding-top: 0px;">
                  <new-chat ng-if="ctrl.selectedCustomer.mobileActive"
                            value="ctrl.selectedCustomer"></new-chat>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Services and vehicle row-->
        <div class="row m-b-30">

          <!--Services-->
          <div class="col-sm-5">

            <!--Service list and Form-->
            <div class="row p-b-20 p-t-20 gray-border-bottom"
                 style="padding-left: 15px;
                 border-right: 1px solid #EBEBEB;">
              <div class="row">
                <h2 style="text-align: start; font-size: 15px; font-weight: 400; margin-left: 3px;"
                    class="section-header gray-text">Serviços</h2>
              </div>

              <!--Services list-->
              <div class="row" style="margin-right: 0">
                <div class="p-t-10 m-b-20" ng-show="ctrl.servicesDetailed.length > 0">
                  <ul class="m-r-20" style="list-style: none; padding-left: 0px;">
                    <li class="row gray-border-bottom dark-gray-text" style="margin: 0;
                      line-height: 35px;" ng-repeat="service in ctrl.servicesDetailed">
                      <div style="padding-left: 3px; padding-right: 0px;padding-top: 10px; font-size: 15px"
                      ng-class="{'col-sm-7': !(service.type === 'diagnostic'), 'col-sm-5': (service.type === 'diagnostic')}">
                        <p><b> {{service.name}}</b></p>
                      </div>
                      <div class="col-md-5 text-right no-padding" ng-if="!service.diagnosticObservation">
                        <span class="gray-text" style="display: inline-block; padding-right: 10px" ng-show="service.inspectionKm">
                          {{service.inspectionKm}} km</span>
                        <span class="gray-text" style="display: inline-block; padding-right: 10px" ng-show="service.inspectionTime">
                          {{service.inspectionTimeString}}</span>
                        <span class="gray-text p-r-20" style="display: inline-block;"
                              ng-show="service.durationTime">
                          {{service.durationTime}}min
                        </span>
                      </div>
                      <div class="col-sm-12 no-padding m-b-10" ng-if="service.diagnosticObservation">
                        <div class="col-sm-12 no-padding" style="padding-left: 3px!important;">
                          <p readonly="true" class="full-width no-border diagnostic-text"><b>Observação: </b>{{service.diagnosticObservation}}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

              </div>
            </div>

            <!--Schedule origen Selection-->
            <div class="row gray-border-right p-t-20" permission
                 permission-only="permissions.originSchedule">
              <div ng-show="ctrl.splitedEmail" class="col-sm-12">
                <div class="row">
                  <h2 style="text-align: start; font-size: 15px;
                      font-weight: 400;
                      margin-left: 3px;"
                      class="section-header gray-text"
                  >Origem do agendamento:</h2>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-5 no-padding partner-create" style="padding-left: 0">
                    <div class="dark-gray-text">
                      <label class="" style="font-size: 15px;">
                        {{ctrl.schedule.origin}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Vehicle-->
          <div class="col-sm-7 p-t-20 gray-border-left"
               style="padding-left: 5em; margin-left: -1px;">
            <!--Title-->
            <div class="row">
              <h2 style="text-align: start; font-size: 15px; font-weight: 400; margin-left: 3px;"
                  class="section-header gray-text">Veículo para o serviço</h2>
            </div>

            <!--Menu-->
            <div class="row m-t-10">
              <div ng-hide="ctrl.selectedCustomer" class="col-sm-12 no-padding m-b-20 gray-text"
                   style="text-align: start;">
                <label>Selecione um cliente para ver o veículo.</label>
              </div>
              <div ng-show="ctrl.selectedCustomer" class="col-sm-8 no-padding">
                <ul style="list-style: none; padding-left: 0px;">
                  <li style="margin: 0;
                      margin-right: 10px;
                      display: inline-block;
                      line-height: 35px"
                      ng-class="{
                        'vehicle-selected': (ctrl.selectedVehicle._id)
                       }"
                      class="row">
                    <div style="padding-left: 3px;
                         padding-right: 0px;"
                         class="col-md-12">
                      <p class="no-marging"> {{ctrl.selectedVehicle.name}} - {{ctrl.selectedVehicle.model}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!--Vehicle information-->
            <div ng-show="ctrl.selectedVehicle" class="row p-t-20 p-b-20">
              <div class="col-sm-12 no-padding">
                <div class="col-sm-12" style="text-align: center">
                  <p>
                      <span>
                        <b class="dark-gray-text">{{ctrl.selectedVehicle.name}}</b>
                      </span>
                    <span class="light-gray-text" style="font-size: 11px;">
                      {{ctrl.selectedVehicle.year}}/{{ctrl.selectedVehicle.model}}
                    </span>
                  </p>
                </div>
                <div class="col-sm-12" style="text-align: center">
                  <p class="light-gray-text">
                    {{ctrl.selectedVehicle.specification}}
                  </p>
                </div>
              </div>
            </div>

            <!--Vehicle image-->
            <div ng-show="ctrl.selectedVehicle" class="row p-b-20">
              <div class="col-sm-12 no-padding">
                <div class="col-sm-offset-2 col-sm-8" style="text-align: center">
                  <img style="max-width: 100%; max-height: 100%;" ng-src="{{ctrl.vehicleImageUri}}">
                </div>
              </div>
            </div>

            <!--Vehicle plate and purchase date-->
            <div ng-show="ctrl.selectedVehicle"
                 class="row p-t-20 p-b-20 border-box-radius">
              <div class="col-sm-12 no-padding">
                <div class="col-sm-9"
                     style="text-align: start; padding-top: 5px;">
                  <p class="light-gray-text" ng-show="ctrl.selectedVehicle.purchaseDate" style="margin:0;">
                    Data de compra: {{ctrl.selectedVehicle.purchaseDate | date:'dd/MM/yyyy'}}
                  </p>
                  <p class="light-gray-text" ng-hide="ctrl.selectedVehicle.purchaseDate" style="margin:0;">
                    Data de compra: Não há registro
                  </p>
                </div>
                <div class="col-sm-3 border-box-radius" style="
                      text-align: center;
                      margin-left: -10px;">
                  <p class="light-gray-text" style="margin-top: 5px; margin-bottom: 5px;">
                    {{ctrl.selectedVehicle.plate || 'XXX-XXXX'}}
                  </p>
                </div>
              </div>
            </div>

            <!--KM and Last Inspection-->
            <div ng-show="ctrl.selectedVehicle" class="row p-b-20 p-t-20">
              <div class="col-sm-6 no-padding">
                <div class="col-sm-12 no-padding">
                  <div class="col-sm-4 no-padding">
                    <label class="light-gray-text" style="
                      font-weight: 400;
                      font-size: 12px;"> Km atual
                    </label>
                  </div>
                </div>
                <div ng-show="ctrl.selectedVehicle.km" class="col-sm-12 no-padding dark-gray-text"
                     style="margin-left: 3px; font-weight: 900; font-size: 16px;">
                  <p>{{ctrl.selectedVehicle.km}} Km</p>
                </div>
                <div ng-hide="ctrl.selectedVehicle.km" class="col-sm-12 no-padding dark-gray-text"
                     style="margin-left: 3px; font-weight: 900; font-size: 16px;">
                  <p>Não há registro</p>
                </div>
                <div ng-show="ctrl.selectedVehicle.lastKmUpdate" class="col-sm-12 no-padding" style="margin-left: 3px">
                  <label class="light-gray-text" style="
                      margin-left: 0;
                      font-weight: 400;
                      font-size: 12px;"> Última atualização: {{ctrl.selectedVehicle.lastKmUpdate | date:'dd/MM/yyyy'}}
                  </label>
                </div>
                <div ng-hide="ctrl.selectedVehicle.lastKmUpdate" class="col-sm-12 no-padding" style="margin-left: 3px">
                  <label class="light-gray-text" style="
                      margin-left: 0;
                      font-weight: 400;
                      font-size: 12px;"> Última atualização: Não há registro
                  </label>
                </div>
              </div>
              <div class="col-sm-6 no-padding">

                <div class="col-sm-12 no-padding">
                  <div class="col-sm-5 no-padding">
                    <label class="light-gray-text" style="
                    font-weight: 400;
                    font-size: 12px;">Ultima revisão</label>
                  </div>
                </div>

                <div ng-show="ctrl.selectedVehicle.inspection.km" class="col-sm-12 no-padding dark-gray-text"
                     style="margin-left: 3px; font-weight: 900; font-size: 16px;">
                  <p>{{ctrl.selectedVehicle.inspection.km}} Km</p>
                </div>
                <div ng-hide="ctrl.selectedVehicle.inspection.km" class="col-sm-12 no-padding dark-gray-text"
                     style="margin-left: 3px; font-weight: 900; font-size: 16px;">
                  <p>Não há registro</p>
                </div>

                <div ng-show="ctrl.selectedVehicle.inspection.date" class="col-sm-12 no-padding"
                     style="margin-left: 3px">
                  <label class="light-gray-text" style="
                      margin-left: 0;
                      font-weight: 400;
                      font-size: 12px;"> Data da última revisão: {{ctrl.selectedVehicle.inspection.date |
                    date:'dd/MM/yyyy'}}
                  </label>
                </div>
                <div ng-hide="ctrl.selectedVehicle.inspection.date" class="col-sm-12 no-padding"
                     style="margin-left: 3px">
                  <label class="light-gray-text" style="
                      margin-left: 0;
                      font-weight: 400;
                      font-size: 12px;"> Data da última revisão: Não há registro
                  </label>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>
