<div class="page page-table">
  <div class="row ui-section">
    <div class="col-md-4">
      <h2 class="section-header">Parceiros</h2>
    </div>

    <div class="col-md-4 col-md-offset-4 text-right">
      <button permission permission-only="permissions.createEmployee"
              ui-sref="settings.partnerCreate" class="btn-w-md md-button md-ink-ripple" tooltip-placement="bottom"
              uib-tooltip="Cadastrar novo Parceiro" tooltip-append-to-body="true">
        <span class="ng-scope text-blue"><i class="zmdi zmdi-plus"></i> Novo Parceiro</span>
      </button>
    </div>
  </div>


  <ui-view>
  </ui-view>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table no-margin" ng-show="ctrl.partnerList.length">
        <thead>
        <tr>
          <th ng-click="orderByCompanyName()">Nome
            <i aria-hidden="true" ng-class="{'fa fa-caret-up': ctrl.orderByCompanyName == false, 'fa fa-caret-down': ctrl.orderByCompanyName == true}"></i>
          </th>
          <th ng-click="orderByBranches()" class="hidden-xs">Unidades
            <i aria-hidden="true" ng-class="{'fa fa-caret-up': ctrl.orderByBranches == false, 'fa fa-caret-down': ctrl.orderByBranches == true}"></i>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.partnerList">
          <td>{{item.companyName}}</td>
          <td class="hidden-xs"><span ng-repeat="branch in item.branches">{{branch.companyName}}</br></span></td>
          <td class="text-right">
            <button permission permission-only="permissions.readPartner"
                    ui-sref="settings.partnerView({id: item._id})"
                    class="md-raised btn-w-xs md-button md-ink-ripple half-opacity"
                    tooltip-placement="bottom" uib-tooltip="Visualizar este parceiro" tooltip-append-to-body="true">
              <span class="zmdi zmdi-account-box"></span>
            </button>
            <button permission permission-only="permissions.updatePartner"
                    ui-sref="settings.partnerEdit({id: item._id})"
                    class="md-raised btn-w-xs md-button md-ink-ripple half-opacity"
                    tooltip-placement="bottom" uib-tooltip="Editar este parceiro" tooltip-append-to-body="true">
              <span class="fa fa-edit"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-show="!ctrl.partnerList.length" class="text-center">
        <p><i>Não há parceiros cadastrados</i></p>
      </div>
    </div>
  </div>
</div>
