<div class="page page-table">
  <div class="col-md-8">
    <h2 class="section-header m-b-20 m-t-20">Configurações da unidade</h2>
  </div>

  <form name="form_constraints" data-ng-submit="saveBranch(form_constraints.$valid)" novalidate>
    <div class="col-md-4 m-t-20">
      <button type="submit" ui-wave="" ng-disabled="ctrl.disableSaveButton" class="md-raised btn-w-md btn-primary md-button md-ink-ripple pull-right">
        Salvar
      </button>
    </div>
    <div class="col-xs-12">

      <div class="panel p-30">
        <!--START: Informaçoes agendamento-->
        <div class="panel-heading form-name m-b-20">AGENDAMENTO</div>

        <div class="row ui-section">
          <div class="form-group col-md-5">
            <label for="">Início do expediente</label>
            <input type="time" class="form-control" name="startTime"
                   required data-ng-model="ctrl.dateStart">
            <div ng-messages="form_constraints.startTime.$error"
                 ng-if='form_constraints.startTime.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
              <div ng-message="time" class="invalid-text">Hora inválida.</div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label for="">Fim do expediente</label>
            <input type="time" class="form-control" name="endTime"
                   required data-ng-model="ctrl.dateEnd">
            <div ng-messages="form_constraints.endTime.$error"
                 ng-if='form_constraints.endTime.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
              <div ng-message="time" class="invalid-text">Hora inválida.</div>
            </div>
          </div>
        </div>

        <div class="row ui-section">
          <div class="form-group col-md-5">
            <label for="">Início do intervalo de almoço</label>
            <input type="time" class="form-control" name="lunchStart"
                   required data-ng-model="ctrl.lunchStart">
            <div ng-messages="form_constraints.lunchStart.$error"
                 ng-if='form_constraints.lunchStart.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
              <div ng-message="time" class="invalid-text">Hora inválida.</div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label for="">Fim do intervalo de almoço</label>
            <input type="time" class="form-control" name="lunchEnd"
                   required data-ng-model="ctrl.lunchEnd">
            <div ng-messages="form_constraints.lunchEnd.$error"
                 ng-if='form_constraints.lunchEnd.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
              <div ng-message="time" class="invalid-text">Hora inválida.</div>
            </div>
          </div>
        </div>

        <div class="row ui-section">

          <div class="form-group col-md-5">
            <label for="">Intervalo entre agendamentos (minutos)</label>
            <input type="number" min="5" max="60" step="5" class="form-control" name="interval"
                   required data-ng-model="ctrl.settings.scheduleSettings.interval">
            <div ng-messages="form_constraints.interval.$error"
                 ng-if='form_constraints.interval.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
              <div ng-message="min" class="invalid-text">Valor deve ser no mínimo 5.</div>
              <div ng-message="max" class="invalid-text">Valor deve ser no máximo 60.</div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <label for="">Máximo de carros por horário</label>
            <input type="number" min="1" max="50" class="form-control" name="maxCarsPerSchedule"
                   required data-ng-model="ctrl.settings.scheduleSettings.maxCarsPerSchedule">
            <div ng-messages="form_constraints.maxCarsPerSchedule.$error"
                 ng-if='form_constraints.maxCarsPerSchedule.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
              <div ng-message="min" class="invalid-text">Valor deve ser no mínimo 1.</div>
              <div ng-message="max" class="invalid-text">Valor deve ser no máximo 50.</div>
            </div >
          </div>
        </div>

        <!--START: Informaçoes agendamento-->
        <div class="panel-heading form-name m-b-20">INFORMAÇÕES</div>

        <div class="row">
          <div class="col-sm-5 partner-create m-b-30">
            <label>Timezone</label>
            <select chosen required
                    class="full-width"
                    name="selectedService"
                    data-placeholder="Selecione"
                    allow-single-deselect="false"
                    data-placeholder-text-single="'Clique para escolher uma timezone'"
                    no-results-text="'Não foi encontrado'"
                    ng-model="ctrl.selectedTimezone"
                    data-ng-options="item for item in ctrl.timezones">
              <option value=""></option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-10 offset-sm-6">
            <label>Descrição curta sobre a unidade</label>
            <input type="text" class="form-control" name="description"
                   data-ng-model="ctrl.settings.description">
          </div>
        </div>

      </div>

    </div>

  </form>
</div>
