<form name="branch_form" class="branch-form m-t-20" data-ng-submit="returnBranch(branch_form)" novalidate>
  <div class="col-xs-12 no-padding">
    <div class="panel">

      <p class="title-gray">Nova unidade</p>
      <div class="row ui-section">
        <div class="form-group col-md-4">
          <label>Nome da Unidade *</label>
          <input type="text" class="form-control" name="branchName" required data-ng-model="branchForm.companyName">
          <div ng-messages="branch_form.branchName.$error"
               ng-if='branch_form.$submitted && branch_form.branchName.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>CNPJ *</label>
          <input type="text" class="form-control" name="cnpj" ui-br-cnpj-mask placeholder="ex: __.___.___/____-__"
                 required
                 data-ng-model="branchForm.cnpj">
          <div ng-messages="branch_form.cnpj.$error"
               ng-if='branch_form.$submitted && branch_form.cnpj.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
            <div ng-message="cnpj" class="invalid-text">CNPJ Inválido.</div>
          </div>
        </div>
      </div>

      <div class="column ui-section"></div>

      <div class="row ui-section">
        <div class="form-group col-md-12">
          <label for="">Descrição curta sobre a unidade</label>
          <input type="text" class="form-control" name="description"
                 data-ng-model="branchForm.description">
        </div>
      </div>

      <div class="column ui-section"></div>

      <div class="row">
        <div class="form-group col-md-4">
          <label>Endereço *</label>
          <input required type="text" class="form-control" name="address" data-ng-model="branchForm.address">
          <div ng-messages="branch_form.address.$error"
               ng-if='branch_form.$submitted && branch_form.address.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Estado *</label>

          <select chosen data-placeholder="Selecione" class="full-width"
                  ng-change="requestCities()" required name="state"
                  data-placeholder-text-single="'Selecione'"
                  no-results-text="'não foi encontrado'"
                  ng-model="branchForm.state"
                  data-ng-options="item.name for item in ctrl.states">
            <option value=""></option>
          </select>
          <div ng-messages="branch_form.state.$error"
               ng-if='branch_form.$submitted && branch_form.state.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Cidade *</label>
          <select chosen class="full-width" data-placeholder="Selecione"
                  ng-model="branchForm.city" required name="city"
                  data-placeholder-text-single="'Selecione'"
                  no-results-text="'não foi encontrado'"
                  data-ng-options="item.name for item in ctrl.cities"
                  aria-label="select">
            <option value=""></option>
          </select>
          <div ng-messages="branch_form.city.$error"
               ng-if='branch_form.$submitted && branch_form.city.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
          </div>
        </div>
      </div>

      <div class="panel-heading form-name m-b-20 m-t-20"></div>

      <div class="row ui-section">
        <div class="form-group col-md-4">
          <label>Telefone *</label>
          <input type="text" class="form-control" ui-br-phone-number
                 placeholder="ex: (99) 99999-9999" name="phone"
                 data-ng-model="branchForm.contact.phone" required>
          <div ng-messages="branch_form.phone.$error"
               ng-if='branch_form.$submitted && branch_form.phone.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="text" class="form-control"
                 name="email" data-ng-model="branchForm.contact.email">
        </div>
      </div>

      <!--START: Informaçoes de configuração de agendamento-->
      <div class="panel-heading form-name m-b-20 m-t-20"></div>
      <p class="title-gray">Equipe de atendimento</p>

      <!--ROW DE EXPEDIENTE-->
      <div class="row ui-section">
        <div class="form-group col-md-4">
          <label>Início do expediente *</label>
          <input data-ng-model="branchForm.scheduleSettings.startTime" type="time" class="form-control"
                 name="startTime"
                 required>
          <div ng-messages="branch_form.startTime.$error"
               ng-if='branch_form.$submitted && branch_form.startTime.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
            <div ng-message="time" class="invalid-text">Hora inválida.</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Fim do expediente *</label>
          <input data-ng-model="branchForm.scheduleSettings.endTime" type="time" class="form-control" name="endTime"
                 required>
          <div ng-messages="branch_form.endTime.$error"
               ng-if='branch_form.$submitted && branch_form.endTime.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
            <div ng-message="time" class="invalid-text">Hora inválida.</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Intervalo entre agendamentos (minutos) *</label>
          <input data-ng-model="branchForm.scheduleSettings.interval" type="number" min="5" max="60" step="5"
                 class="form-control" name="interval"
                 required>
          <div ng-messages="branch_form.interval.$error"
               ng-if='branch_form.$submitted && branch_form.interval.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
            <div ng-message="min" class="invalid-text">Valor deve ser no mínimo 5.</div>
            <div ng-message="max" class="invalid-text">Valor deve ser no máximo 60.</div>
          </div>
        </div>

      </div>

      <!--ROW DE INTERVALO DE ALMOÇO-->
      <div class="row ui-section">
        <div class="form-group col-md-4">
          <label>Início do intervalo de almoço *</label>
          <input data-ng-model="branchForm.scheduleSettings.startLunch" type="time" class="form-control"
                 name="startTime"
                 required>
          <div ng-messages="branch_form.startLunch.$error"
               ng-if='branch_form.$submitted && branch_form.startLunch.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
            <div ng-message="time" class="invalid-text">Hora inválida.</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Fim do intervalo de almoço *</label>
          <input data-ng-model="branchForm.scheduleSettings.endLunch" type="time" class="form-control" name="endTime"
                 required>
          <div ng-messages="branch_form.endLunch.$error"
               ng-if='branch_form.$submitted && branch_form.endLunch.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
            <div ng-message="time" class="invalid-text">Hora inválida.</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Capacidade Produtiva *</label>
          <input data-ng-model="branchForm.scheduleSettings.maxCarsPerSchedule" type="number" min="1" step="1"
                 class="form-control" name="maxCarsPerSchedule"
                 required>
          <div ng-messages="branch_form.maxCarsPerSchedule.$error"
               ng-if='branch_form.$submitted && branch_form.maxCarsPerSchedule.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
            <div ng-message="min" class="invalid-text">Valor deve ser no mínimo 1.</div>
            <div ng-message="max" class="invalid-text">Valor deve ser no máximo 50.</div>
          </div>
        </div>

      </div>

      <!--ROW DE CONFIGURAÇÕES EXTRAS-->

      <!--START: Seleciona Serviços-->
      <div class="panel-heading form-name m-b-20 m-t-20">SERVIÇOS</div>
      <div class="col-md-12 no-padding">

        <div style="margin-bottom: 40px" class="col-md-12 no-padding">
          <label>Adicione serviços à unidade</label>
          <select class="full-width" chosen multiple name="services"
                  required
                  data-placeholder="Selecione"
                  allow-single-deselect="true"
                  data-placeholder-text-multiple="'Clique para escolher'"
                  no-results-text="'não foi encontrado'"
                  ng-model="branchForm.services"
                  data-ng-options="item.name for item in ctrl.services">
            <option value=""></option>
          </select>
          <div ng-messages="branch_form.services.$error"
               ng-if='branch_form.$submitted && branch_form.services.$error'>
            <div ng-message="required" class="invalid-text">Campo requerido.</div>
          </div>
        </div>

      </div>
      <!--END: Seleciona Serviços-->
      <div class="row ui-section text-right">
        <button style="margin-right: 30px;" type="submit" ui-wave=""
                class="md-raised btn-w-md btn-primary md-button md-ink-ripple">
          Adicionar Unidade
        </button>
      </div>

    </div>
  </div>
</form>
