<div class="row ui-section margin-20">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-10">
        <h3 class="m-0">ATUALIZAR DATA DA ULTIMA REVISÃO</h3>
      </div>
      <div class="col-md-2 pull-right">
        <button ng-click="close()" class="btn-xs md-button md-ink-ripple" tooltip-placement="bottom"
                style="min-width: 30px; min-height: 30px; margin-left: 2em;"
                uib-tooltip="Cancelar" tooltip-append-to-body="true">
          <span class="ng-scope text-blue"><i class="zmdi zmdi-close"></i></span>
        </button>
      </div>
    </div>

    <div class="col-md-12 ui-section no-padding">

      <form name="form_constraints" data-ng-submit="updateKm(form_constraints)" novalidate>
        <div class="row">

          <div class="col-md-6">
            <label>Selecione a data da ultima revisão:</label>
            <div style="padding: 0;" class="ui-datepicker box-result">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup="{{calendar.dateOptions.format}}"
                     ng-model="calendar.selectedDate"
                     ng-change="dateChanged()"
                     datepicker-options="calendar.dateOptions"
                     is-open="calendar.calendarOpen"
                     max-date="calendar.dateOptions.maxDate"
                     alt-input-formats="calendar.dateOptions.altInputFormats"
                     show-button-bar="false"
                     name="date"
                     required
                     ng-click="calendar.calendarOpen = true"/>
            </div>
            <div class="m-t-10">
              <div style="padding: 0;" ng-messages="form_constraints.date.$error"
                   ng-if='form_constraints.$submitted && form_constraints.date.$error'>
                <div ng-message="required" class="invalid-text">Por favor selecione uma data exemplo 01/04/1980</div>
              </div>
              <div style="padding: 0;" ng-messages="form_constraints.date.$error"
                   ng-if='form_constraints.$submitted && form_constraints.date.$error'>
                <div ng-message="dateGraterThenToday" class="invalid-text">A data não pode ser maior que hoje</div>
              </div>
              <div style="padding: 0;" ng-messages="form_constraints.date.$error">
                <div ng-message="pattern" class="invalid-text">Por favor entre com uma data válida.</div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label>Foi referente à qual quilometragem?</label>
            <input
              ui-number-mask="0"
              type="text"
              class="form-control floating-input" ng-model="updatedKm"
              ng-pattern="/^[0-9]/"
            >
            <div class="row col-md-12" ng-messages="form_constraints.km.$error"
                 ng-if='form_constraints.$submitted && form_constraints.km.$error'>
              <div ng-message="required" class="invalid-text">Por favor digite algum km para atualizar.</div>
            </div>
            <div class="row col-md-12" ng-messages="form_constraints.km.$error">
              <div ng-message="pattern" class="invalid-text">Por favor entre com um valor numérico.</div>
            </div>
          </div>

        </div>
        <div style="text-align: center; margin-top: 20px" class="row">
          <button ng-disabled="ctrl.isWaiting" type="submit" class="md-raised btn-w-xs btn-primary md-button md-ink-ripple vertical-top">
            <span class="fa fa-refresh"></span> ATUALIZAR
          </button>
        </div>

      </form>
    </div>

  </div>
</div>
