<div class="row ui-section margin-20">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-10">
        <h3 class="m-0">ATUALIZAR O KM</h3>
      </div>
      <div class="col-md-2 pull-right">
        <button ng-click="close()" class="btn-xs md-button md-ink-ripple" tooltip-placement="bottom"
                style="min-width: 30px; min-height: 30px; margin-left: 2em;"
                uib-tooltip="Cancelar" tooltip-append-to-body="true">
          <span class="ng-scope text-blue"><i class="zmdi zmdi-close"></i></span>
        </button>
      </div>
    </div>

    <div class="row ui-section">
      <div class="col-md-12">
        <form name="form_constraints"  data-ng-submit="updateKm(form_constraints)" novalidate>
          <label>Digite a quilometragem atual:</label>
          <input
            ui-number-mask="0"
            required
            name="km"
            type="text"
            class="form-control floating-input" ng-model="updatedKm"
            ng-pattern="/^[0-9]/"
          >
          <button ng-disabled="ctrl.isWaiting" type="submit" class="md-raised btn-w-xs btn-primary md-button md-ink-ripple vertical-top">
            <span class="fa fa-refresh"></span> ATUALIZAR
          </button>
          <div class="row col-md-12" ng-messages="form_constraints.km.$error"
               ng-if='form_constraints.$submitted && form_constraints.km.$error'>
            <div ng-message="required" class="invalid-text">Por favor digite algum km para atualizar.</div>
          </div>
          <div class="row col-md-12" ng-messages="form_constraints.km.$error">
            <div ng-message="pattern" class="invalid-text">Por favor digite um valor numérico.</div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
