<!--<div class="page page-table" data-ng-controller="CustomerListCtrl">-->
<div class="page page-table">
  <div class="row ui-section">
    <div class="col-md-8">
      <h2 class="section-header">Veículos</h2>
    </div>
    <div class="col-md-4 box-search">
      <search-box placeholder="Busque por ano, modelo, placa ou especificação" source-type="vehicle"></search-box>
    </div>
  </div>

  <ui-view>
  </ui-view>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table no-margin" ng-if="ctrl.vehicleList.length">
        <thead>
        <tr>
          <th ng-click="orderByVehicle()">Veículo
            <i aria-hidden="true" ng-class="{'fa fa-caret-up': ctrl.orderByVehicle === false, 'fa fa-caret-down': ctrl.orderByVehicle === true}"></i>
          </th>
          <th ng-click="orderBySpecification()">Especificação
            <i aria-hidden="true" ng-class="{'fa fa-caret-up': ctrl.orderBySpecification === false, 'fa fa-caret-down': ctrl.orderBySpecification === true}"></i>
          </th>
          <th ng-click="orderByYear()">Ano
            <i aria-hidden="true" ng-class="{'fa fa-caret-up': ctrl.orderByYear === false, 'fa fa-caret-down': ctrl.orderByYear === true}"></i>
          </th>
          <th ng-click="orderByModel()">Modelo
            <i aria-hidden="true" ng-class="{'fa fa-caret-up': ctrl.orderByModel === false, 'fa fa-caret-down': ctrl.orderByModel === true}"></i>
          </th>
          <th ng-click="orderByPlate()">Placa
            <i aria-hidden="true" ng-class="{'fa fa-caret-up': ctrl.orderByPlate === false, 'fa fa-caret-down': ctrl.orderByPlate === true}"></i>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.vehicleList">
          <td>{{item.name}}</td>
          <td>{{item.specification || 'Não há registro'}}</td>
          <td>{{item.year || 'Não há registro'}}</td>
          <td>{{item.model || 'Não há registro'}}</td>
          <td>{{item.plate || 'Não há registro'}}</td>
          <td class="text-right">
            <button ng-click="customerView(item.idCustomer, item._id)"
                    ng-disabled="ctrl.disableViewVehicle"
                    class="md-raised btn-w-xs md-button md-ink-ripple half-opacity" tooltip-placement="bottom"
                    uib-tooltip="Visualizar este veículo" tooltip-append-to-body="true">
              <span class="zmdi zmdi-car"></span>
            </button>
            <span class="space"></span>
            <button ng-click='schedule(item.idCustomer, item._id)'
                    permission permission-only="permissions.createSchedule"
                    ng-disabled="ctrl.disableScheduleButton"
                    class="md-raised btn-w-xs btn-success md-button md-ink-ripple"
                    tooltip-placement="bottom" uib-tooltip="Agendar serviço para este veículo"
                    tooltip-append-to-body="true">
              <span class="ng-scope">
                  &nbsp;&nbsp;AGENDAR&nbsp;&nbsp;
              </span>
            </button>

          </td>
        </tr>
        </tbody>
      </table>
      <div ng-if="!ctrl.vehicleList.length && !ctrl.searchReturnedEmpty" class="text-center">
        <p><i>Não há veículos cadastrados</i></p>
      </div>
      <div ng-show="!ctrl.vehicleList.length && ctrl.searchReturnedEmpty" class="text-center">
        <p><i>Não foi encontrado nenhum veículo para essa busca</i></p>
      </div>

      <div class="row" ng-show="ctrl.vehicleList.length">
        <div class="col-md-12 text-center pagination-container">

          <span
            class="p-l-10 sub-title panel-normal-case">{{ctrl.vehicleList.length}} - {{ctrl.totalItems}} veículos</span>

          <uib-pagination class="pagination-sm"
                          ng-model="ctrl.currentPage"
                          total-items="ctrl.totalItems"
                          max-size="3"
                          ng-change="paginate()"
                          items-per-page="ctrl.limit"
                          rotate="false"
                          previous-text="&lsaquo;" next-text="&rsaquo;"
                          boundary-links="true"></uib-pagination>
        </div>
      </div>

    </div>
  </div>

</div>
