<!--<div class="page page-table" data-ng-controller="CustomerCreateCtrl">-->
<div class="page page-table">

  <div class="col-md-8">
    <h2 class="section-header m-b-20 m-t-20">{{ctrl.titleView}}</h2>
  </div>

  <form name="form_constraints" data-ng-submit="submitForm(form_constraints.$valid)" novalidate>
    <div class="col-md-4 m-t-20">
      <button type="submit" ui-wave="" ng-disabled="ctrl.disableSaveButton" class="md-raised btn-w-md btn-primary md-button md-ink-ripple pull-right">Salvar</button>
    </div>
    <div class="col-xs-12">

      <div class="panel p-30">

        <!--START: Informaçoes pessoais-->
        <div class="panel-heading form-name m-b-20">IDENTIFICAÇÃO</div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="">Nome Completo</label>
            <input type="text" class="form-control" name="fullname" required data-ng-model="ctrl.fullname">
            <div ng-messages="form_constraints.fullname.$error" multiple
                 ng-if='form_constraints.$submitted && form_constraints.fullname.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
            </div>
          </div>

          <div class="form-group col-md-4 m-b-20">
            <label for="">E-mail</label>
            <input type="text" class="form-control"
                   ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                   required data-ng-model="form.email" name="email" ng-disabled="true">
          </div>

          <div class="form-group col-md-4">
            <label for="">CPF</label>
            <input type="text" class="form-control" ui-br-cpf-mask placeholder="ex:___.___.___-__"
                   ng-disabled="true" name="cpf" data-ng-model="form.cpf">
          </div>

        </div>

        <div class="row m-b-40">
          <div class="form-group col-md-4 m-b-20">
            <label for="">Telefone</label>
            <input type="text" class="form-control" required data-ng-model="form.phone" name="phone"
                   ui-br-phone-number>
            <div ng-messages="form_constraints.phone.$error" multiple
                 ng-if='form_constraints.$submitted && form_constraints.phone.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
              <div ng-message="brPhoneNumber" class="invalid-text">Precisa ser um telefone válido.</div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="">Data de aniversário</label>
            <input type="text" class="form-control" placeholder="ex:__/___/____"
                   mask='39/19/9999'
                   name="birthDate" data-ng-model="ctrl.birthDate">
          </div>
        </div>
        <!--END: Informaçoes pessoais-->

        <!--START: Dados Alocação-->
        <div class="panel-heading form-name m-b-20">ALOCAÇÃO</div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="">Unidade</label>

            <select chosen multiple required name="multiBranches"
                    class="full-width"
                    data-placeholder="Selecione"
                    allow-single-deselect="true"
                    data-placeholder-text-multiple="'Selecione'"
                    no-results-text="'não foi encontrado'"
                    ng-model="ctrl.selectedBranches"
                    data-ng-options="item.companyName for item in ctrl.branches">
              <option value=""></option>

            </select>
            <div ng-messages="form_constraints.multiBranches.$error" multiple
                 ng-if='form_constraints.$submitted && form_constraints.multiBranches.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="">Cargo</label>

            <select chosen required name="role"
                    class="full-width"
                    data-placeholder-text-single="'Selecione'"
                    no-results-text="'não foi encontrado'"
                    ng-model="ctrl.selectedRole.identifier"
                    data-ng-options="item.identifier as item.name for item in ctrl.roles">
              <option value=""></option>

            </select>
            <div ng-messages="form_constraints.role.$error" multiple
                 ng-if='form_constraints.$submitted && form_constraints.role.$error'>
              <div ng-message="required" class="invalid-text">Campo requerido.</div>
            </div>
          </div>


        </div>

        <!--END: Dados Alocação-->

      </div>

      <div class="col-xs-12 m-b-20">

        <button type="button" ng-click="cancelForm()" class="btn-w-md md-button md-ink-ripple half-opacity pull-left"
                tooltip-placement="bottom" tooltip-append-to-body="true">
          <span class="ng-scope text-blue">Cancelar</span>
        </button>

        <button type="submit" ui-wave="" ng-disabled="ctrl.disableSaveButton" class="md-raised btn-w-md btn-primary md-button md-ink-ripple pull-right">Salvar
        </button>
      </div>

      </button>
    </div>

  </form>
</div>
