<div class="page page-table">
  <ui-view>
  </ui-view>

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <h2 class="section-header m-b-20 m-t-20 ng-binding">Importe sua base de clientes</h2>
    </div>
  </div>

  <div class="panel p-30">
    <form class="row">
      <div class="form-group col-md-6">
        <label for="">Importar planilha de clientes:</label>
        <div class="input-group">
          <input type="file" ngf-select ngf-pattern="'.xls,.csv,.xlsx'"
                 accept=".xls,.csv,.xlsx" ngf-max-files="1"  ng-model="file"
                 ngf-multiple="false" class="form-control" required >
          <span class="input-group-btn">
              <button ng-click="upload()" class="md-raised btn-w-md btn-primary
                      md-button md-ink-ripple" type="button">IMPORTAR E ANALISAR</button>
          </span>
        </div>
        <div class="p-t-10">
          <a class="text-blue padding-5" ng-click="openModal()"><span class="fa fa-download"></span> Baixar modelo da planilha de clientes</a>
        </div>
        <div ng-messages="form_constraints.fullname.$error" multiple
             ng-if='form_constraints.fullname.$dirty'>
          <div ng-message="required" class="invalid-text">Campo requerido.</div>
        </div>
      </div>
    </form>

    <div class="panel-heading form-name m-t-30 m-b-20">CLIENTES IMPORTADOS</div>
    <div ng-if="!ctrl.customers.length" class="text-center">
      <p><i>Não há clientes importados.</i></p>
    </div>
    <table class="table no-margin" ng-if="ctrl.customers.length">
      <thead>
      <tr>
        <th class="hidden-xs">Nome</th>
        <th class="hidden-xs">Email</th>
        <th class="hidden-xs">Telefones</th>
      </tr>
      </thead>
      <tbody>
      <tr class="item in" ng-repeat="item in ctrl.customers">
        <td>
          <p>{{item.name}}</p>
        </td>
        <td>
          <p>{{item.email}}</p>
        </td>
        <td>
          <p>{{item.cellphone}}</p>
          <p>{{item.fone}}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
