<form name="vehicle_form" novalidate ng-submit="saveVehicle(vehicle_form)">
  <div class="col-md-12 no-padding" style="display: flex;">
    <div class="form-group no-marging partner-create no-padding"
         ng-class="{'col-md-12': !showCancelButton, 'col-md-7': showCancelButton}">
      <label for="">Marca *</label>
      <select chosen ng-model="ctrl.brand" aria-label="select"
              required
              name="brand"
              data-ng-options="item.name for item in ctrl.brands"
              class="full-width"
              data-placeholder-text-single="'Selecione'"
              no-results-text="'Esta marca não existe'"
              ng-change="brandChange(ctrl.brand)">
        <option value=""></option>
      </select>
      <div class="m-t-5" ng-messages="vehicle_form.brand.$error" multiple
           ng-if="vehicle_form.$submitted && vehicle_form.brand.$error">
        <div ng-message="required" class="invalid-text">Campo requerido</div>
      </div>
    </div>

    <div class="form-group no-marging partner-create no-padding col-md-4" ng-if="showCancelButton"
         style="align-self: flex-end; margin-left: auto !important;">
      <button type="button" class="btn-w-md md-button md-ink-ripple half-opacity"
              tooltip-placement="bottom"
              tooltip-append-to-body="true"
              ng-click="cancel()">
        <span class="ng-scope text-blue">Cancelar</span>
      </button>
    </div>

  </div>
  <!-- Model, year and yearModel -->
  <div class="col-md-12 m-t-20 no-padding">
    <div class="form-group col-md-3 no-marging partner-create no-padding">
      <label>Modelo *</label>
      <select chosen ng-model="ctrl.model" aria-label="select"
              class="full-width"
              required
              name="model"
              data-placeholder-text-single="'Selecione'"
              no-results-text="'Este modelo não existe'"
              data-ng-options="item.name for item in ctrl.models"
              ng-change="modelChange(ctrl.model)">
        <option value=""></option>
      </select>
      <div class="m-t-5" ng-messages="vehicle_form.model.$error" multiple
           ng-if="vehicle_form.$submitted && vehicle_form.model.$error">
        <div ng-message="required" class="invalid-text">Campo requerido</div>
      </div>
    </div>
    <div class="form-group col-md-5 no-marging partner-create">
      <label for="">Ano de Fabricação *</label>
      <select chosen ng-model="ctrl.yearFab" aria-label="select"
              class="full-width"
              required
              name="year"
              data-placeholder-text-single="'Selecione'"
              no-results-text="'Este ano não existe'"
              disable-search="true"
              data-ng-options="item for item in ctrl.yearsFab"
              ng-change="yearFabChange(ctrl.yearFab)">
        <option value=""></option>
      </select>
      <div class="m-t-5" ng-messages="vehicle_form.year.$error" multiple
           ng-if="vehicle_form.$submitted && vehicle_form.year.$error">
        <div ng-message="required" class="invalid-text">Campo requerido</div>
      </div>
    </div>
    <div class="form-group col-md-4 no-marging partner-create no-padding">
      <label for="">Ano do Modelo *</label>
      <select chosen ng-model="ctrl.yearModel" aria-label="select"
              class="full-width"
              required
              name="yearModel"
              data-ng-options="item for item in ctrl.yearsModel"
              disable-search="true"
              data-placeholder-text-single="'Selecione'"
              no-results-text="'Este ano não existe'"
              ng-change="yearModelChange(ctrl.yearModel)">
        <option value=""></option>
      </select>
      <div class="m-t-5" ng-messages="vehicle_form.yearModel.$error" multiple
           ng-if="vehicle_form.$submitted && vehicle_form.yearModel.$error">
        <div ng-message="required" class="invalid-text">Campo requerido</div>
      </div>
    </div>
  </div>
  <!-- Specification -->
  <div class="col-md-12 m-t-20 no-padding">
    <div class="form-group col-md-12 no-marging partner-create no-padding">
      <label for="">Especificação *</label>
      <select chosen ng-model="ctrl.specification" aria-label="select"
              class="full-width"
              required
              name="specification"
              data-placeholder-text-single="'Selecione a especificação'"
              no-results-text="'Esta especificação não existe'"
              data-ng-options="item.name for item in ctrl.specifications"
              ng-change="specificationChange(ctrl.specification)">
        <option value=""></option>
      </select>
      <div class="m-t-5" ng-messages="vehicle_form.specification.$error" multiple
           ng-if="vehicle_form.$submitted && vehicle_form.specification.$error">
        <div ng-message="required" class="invalid-text">Campo requerido</div>
      </div>
    </div>
  </div>
  <div class="col-md-12 m-t-10 no-padding">
    <div class="col-md-12 no-marging no-padding">
      <hr>
    </div>
  </div>
  <!-- purchaseDate and plate -->
  <div class="col-md-12 m-t-20 no-padding">
    <div class="form-group col-md-6 no-marging no-padding p-r-15">
      <label>Data da compra</label>
      <div class="ui-datepicker box-result">
        <input type="text"
               class="form-control"
               name="purchase_date"
               ng-change="dateChanged()"
               uib-datepicker-popup="{{calendar.format}}"
               data-ng-model="vehicleForm.purchaseDate"
               is-open="calendar.calendarOpen1"
               datepicker-options="calendar.dateOptions"
               clear-text='Limpar'
               close-text='Fechar'
               current-text='Hoje'
               show-button-bar="false"
               popup-placement="auto bottom-left"
               ng-keyup="calendar.calendarOpen1 = true"
               alt-input-formats="calendar.altInputFormats"
               ng-click="calendar.calendarOpen1 = true"/>
        <div style="padding: 0;" class="m-t-5" ng-messages="vehicle_form.purchase_date.$error"
             ng-if='vehicle_form.$submitted && vehicle_form.purchase_date.$error'>
          <div ng-message="dateGraterThenToday" class="invalid-text">A data não pode ser maior que hoje</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-marging no-padding p-l-15">
      <div class="form-group">
        <label for="">Placa</label>
        <input type="text" class="form-control" ui-br-car-plate-mask name="plate"
               data-ng-model="vehicleForm.plate">
      </div>
    </div>
  </div>
  <div class="col-md-12 m-t-5 no-padding">
    <div class="col-md-12 no-marging no-padding">
      <hr>
    </div>
  </div>
  <!-- Km, inspection km and inspection date -->
  <div class="col-md-12 m-t-20 no-padding">
    <div class="form-group col-md-3 no-padding">
      <label for="">KM atual</label>
      <input type="text" class="form-control" ui-number-mask="0" min="0" name="km" data-ng-model="vehicleForm.km">
    </div>
    <div class="form-group col-md-5">
      <label>Última revisão</label>
      <small class="light-gray-text">em km</small>
      <input type="text" ui-number-mask="0" min="0" class="form-control"
             data-ng-model="vehicleForm.inspection.km">
    </div>
    <div class="form-group col-md-4 no-padding">
      <label>Data da revisão</label>
      <div class="ui-datepicker box-result">
        <input type="text"
               ng-change="dateChanged()"
               class="form-control"
               name="inspection_date"
               uib-datepicker-popup="{{calendar.format}}"
               data-ng-model="vehicleForm.inspection.date"
               is-open="calendar.calendarOpen2"
               datepicker-options="calendar.dateOptions"
               clear-text='Limpar'
               close-text='Fechar'
               current-text='Hoje'
               show-button-bar="false"
               ng-keyup="calendar.calendarOpen2 = true"
               popup-placement="auto bottom-left"
               alt-input-formats="calendar.altInputFormats"
               ng-click="calendar.calendarOpen2 = true"/>

        <div style="padding: 0;" class="m-t-10" ng-messages="vehicle_form.inspection_date.$error"
             ng-if='vehicle_form.$submitted && vehicle_form.inspection_date.$error'>
          <div ng-message="dateGraterThenToday" class="invalid-text">A data não pode ser maior que hoje</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Save buttom -->
  <div class="col-md-12 m-t-40 align-center no-padding">
    <button type="submit" ng-disabled="ctrl.disableSaveButton"
            class="md-raised btn-w-md btn-primary md-button md-ink-ripple m-20 m-b-20" style="border: none !important;">
      <span class="text-white">Salvar</span>
    </button>
  </div>
</form>
